{% extends "Application/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    {{form}}


<br>
    <button class="btn btn-success">Submit</button>
    </form>

<a class="btn btn-outline-success mt-5" href="{% url 'application_list' %}">View Interviews</a>
<br>
<a class="btn btn-outline-success mt-5" href="{% url 'interview_insert' %}">Interview</a>
<a class="btn btn-outline-success mt-5" href="{% url 'application_list' %}">Application</a>
<a class="btn btn-outline-success mt-5" href="{% url 'session_list' %}">Session</a>
{% endblock content %}